@charset "utf-8";

.header .m_logo {
	float: left;
	margin-left: 10px;
}
.header .m_logo a {
	height: 45px;
	float: left;
}
.header .m_logo img {
	height: 35px;
	margin-top: 5px;
}
.header .m_erweima{
	float: left;
	height:25px;
	width: 25px;
	margin-top: 12px;
	margin-left:0.5em;
	
}
.header .m_search {
	float: right;
	height: 25px;
	width: 25px;
	margin-top: 10px;
	margin-right: 15px;
}
/*头部结束*/
/*轮播图css*/
.top .m_banner {
	padding: 5px;

}
.top .m_banner a img{
	width: 100%;
}
.top .m_nav {
	margin-top: 10px;
	float: left;
	width: 100%;
}
.top .m_nav img {
	height: 44px;

}

.top .m_nav a {
	width:25%;
	text-decoration: none;
	height: 100px;
	text-align: center;
	float: left;
	margin-top: 10px;
}
.top .m_nav a span {
	width: 100%;
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #666666;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.m_mall .mall_title {
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F9F9F9;
	width: 100%;
	height: 40px;
}
.m_mall .mall_title span {
	float: left;
	margin-left: 10px;
	color: #00bb9c;
	font-size: 16px;
}
.m_mall .mall_title em {
	float: right;
	margin-right: 10px;
	font-size: 12px;
	font-style: normal;
	color: #666666;
}
.m_mall .mall_title a {
	color: #666666;
	text-decoration: none;
}

.m_mall .mall_list {
	float: left;
	width: 100%;
	padding-top: 25px;
}
.m_mall .mall_list .mall {
	float: left;
	width: 25%;
	text-align: center;
	text-decoration: none;
	margin-bottom: 25px;
	display: block;
}
.m_mall .mall_list .mall .mall_logo {
	height: 50px;
	overflow: hidden;
}

.m_mall .mall_list .mall .mall_logo img {
	width: 80px;
}

.m_mall .mall_list .mall span {
	text-decoration: none;
	color: #666666;
	font-size: 12px;
	line-height: 30px;
}
.m_mall .mall_list .mall span i {
	color: #FF3300;
	font-size: 13px;
	font-style: normal;
}
.list_mall {
	width: 33%;
	float: left;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
}
.list_mall .mall_logo {
	overflow: hidden;
	height: 40px;
}
.list_mall .mall_logo img {
	max-height:40px;
}
.list_mall span {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	line-height: 30px;
}
.list_mall span i {
	color: #FF3300;
	font-size: 14px;
	font-style: normal;
}


.tao_search {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.taobao_form {
	margin-top: 18%;
	width: 100%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.search_taobao {
	width: 80%;
	padding-top: 17px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 35px;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	background-image: url(../images/iconfont-sousuo.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.taobao_submit {
	float: left;
	width: 20%;
	height: 46px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 46px;
	color: #FFFFFF;
	background-color: #ee4444;
	background-image: url(../images/top_alpha.png);
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	background-position: center;
}
.taobao_liucheng {
	width: 100%;
	background-color: #fffaea;
	text-align: center;
}


.m_baoliao  .baoliao_title {
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F9F9F9;
	width: 100%;
	height: 40px;
}
.m_baoliao .baoliao_title span {
	float: left;
	margin-left: 10px;
	color: #00bb9c;
	font-size: 16px;
}
.m_baoliao .baoliao_title em {
	float: right;
	margin-right: 10px;
	font-size: 12px;
	font-style: normal;
	color: #666666;
}
.m_baoliao .baoliao_title a {
	color: #666666;
	text-decoration: none;
}
.m_baoliao .baoliao_title img {
	width: 20px;
	margin-top: 10px;
}


.m_baoliao .baoliao_list {
	float: left;
}
.baoliao_content   {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	margin-top: 15px;
}
.baoliao_content .bl_img {
	float: left;
	margin: 5px;
	width: 15%;
}
.baoliao_content .bl_img img {
	width: 90px;
}
.baoliao_content .bl_right {
	float: left;
	margin-left: 10px;
	width: 78%;
}

.baoliao_content .bl_title {
	float: left;
	font-size: 12px;
	color: #666666;
	line-height: normal;
	width: 100%;
}
.baoliao_content .bl_note {
	float: left;
	font-size: 12px;
	line-height: normal;
	color: #FF3300;
	margin-top: 5px;
	width: 100%;
}
.baoliao_content .bl_tag {
	float: left;
	font-size: 12px;
	width: 100%;
	line-height: 30px;
	margin-top: 10px;
}
.baoliao_content .bl_right .bl_tag .bl_price {
	float: left;
	font-size: 12px;
	color: #FF3300;
}
.baoliao_content .bl_right .bl_tag .bl_oprice {
	font-size: 12px;
	text-decoration: line-through;
	float: left;
	margin-left: 10px;
	color: #999999;
}
.baoliao_content .bl_right .bl_tag .bl_mall {
	float: right;
	font-size: 12px;
	color: #666666;
}
.baoliao_content .bl_right .bl_tag .bl_time {
	float: right;
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
.m_baoliao .bl_more {
	line-height: 40px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	float: left;
	width: 100%;
}

.m_baoliao .bl_more a {
	line-height: 40px;
	height: 40px;
	width: 100%;
	color: #666666;
	text-decoration: none;
	float: left;
	font-size: 12px;
}
 
.box {  
width: 100%;  
display: -webkit-box;  
display: -moz-box;  
-webkit-box-orient: horizontal;  
-moz-box-orient: horizontal;  
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;  
}  
.box > * {  
-webkit-box-flex: 1;  
-moz-box-flex: 1;  
}  
a:link, a:visited {  
color: #575757;  
text-decoration: none;  
}  
a {  
text-decoration: none;  
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);  
}  
a:link, a:visited {  
color: #575757;  
text-decoration: none;  
}  
a {  
text-decoration: none;  
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);  
}  
  
.nav4{  
    height:45px;  
}  
.nav4 ul{  
    position:fixed;  
    z-index:200;  
    bottom:0;  
    left:0;  
    width:100%  
}  
.nav4 li{  
    border:1px solid rgba(190,190,190,1);  
    height:45px;  
    border-bottom:0;  
    border-right:0;  
    position:relative;  
    -webkit-box-shadow:inset 0 0 3px #fff;  
}  
.nav4 li:nth-of-type(1){border-left;0;}  
.nav4 li>a{  
    font-size:15px;  
    -webkit-box-sizing:border-box;  
    box-sizing:border-box;  
    /*border:1px solid #f9f8f9;*/  
    -webkit-tap-highlight-color:rgba(0,0,0,0);  
    border-bottom:0;  
    display:block;  
    line-height:45px;  
    text-align:center;  
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#dcdcdc), color-stop(35% ,#ededed), color-stop(50%, #e3e3e3) );  
}  
.nav4 li>a:only-child span{  
    background:none;  
    padding-left:0;  
}  
.nav4 li>a.on + dl{  
    display: block;  
}  
.nav4 li>a span{  
    color: #4f4d4f;  
    display: inline-block;  
    padding-left: 15px;  
    background: url(imgs/1.svg#2) no-repeat 4px 18px;  
    -webkit-background-size: 9px auto;  
    text-shadow:0px 1px 0px #ffffff;  
}  
/***********************/  
.nav4 dl{  
    display:none;  
    position:absolute;  
    z-index:220;  
    bottom:60px;  
    left:50%;  
    width:100px;  
    margin-left:-50px;  
    background:red;  
    /*min-height:100px;*/  
    background:#e4e3e2;  
    /*border:1px solid #afaeaf;*/  
    border-radius:5px;  
    -webkit-box-shadow:inset 0 0 3px #fff;  
    background:url(imgs/2.svg#3) no-repeat center center;  
    -webkit-background-size:100%;  
    background-size:100%;  
}  
/*, .nav4 dl:after*/  
.nav4 dl:before{  
    content:"";  
    display:inline-block;  
    position:absolute;  
    z-index:240;  
    bottom:0;  
    left:50%;  
    /*width:0; 
    height:0; 
    border:8px solid red; 
    border-color:#afaeaf transparent transparent transparent; 
    margin-left:-8px; 
    margin-bottom:-16px;*/  
    width:10px;  
    height:8px;  
    background: url(imgs/1.svg#2) no-repeat center -55px;  
    -webkit-background-size: 10px auto;  
    bottom: -7px;  
    margin-left: -5px;  
}  
/*.nav4 dl:after{ 
    z-index:241; 
    border-color:#e4e3e2 transparent transparent transparent; 
    margin-bottom:-15px; 
}*/  
.nav4 dl dd{  
    line-height:45px;  
    text-align:center;  
    background:-webkit-gradient(linear, 0 0, 100% 0, from(rgba(194,194,194,0.8)), to(rgba(194,194,194,0.8)), color-stop(50%, rgba(194,194,194,0.8)));  
    background-size:80% 1px;  
    background-repeat:no-repeat;  
    background-position: center bottom;  
    /*background: url(imgs/3.svg#4) no-repeat center bottom; 
    -webkit-background-size:100px 1px;*/  
}  
.nav4 dl dd:last-of-type{  
    background:none;  
}  
.nav4 dl dd a{  
    font-size: 15px;  
    display:block;  
    color:#4f4d4f;  
    text-shadow:0px 1px 0px #ffffff;  
    white-space: pre;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}  
.nav4 .masklayer_div{  
    display: none;  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    z-index: 180;  
    background: rgba(0,0,0,0);  
}  
.nav4 .masklayer_div.on{display: block;}  
/*爆料详情css*/
.ui-tab-nav {
	width:100%;
	background-color:#fff;
	display:box;
	display:-webkit-box;
	font-size:16px;
	height:45px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.ui-tab-nav li {
	height:45px;
	line-height:45px;
	min-width:70px;
	box-flex:1;
	-webkit-box-flex:1;
	text-align:center;
	color:gray;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
}
.ui-tab-nav li a {
	text-decoration: none;
	color: gray;
	display: block;
	float: left;
	width: 100%;
}
.ui-tab-nav  li.current a {
	color:#00bb9c;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00bb9c;
	line-height: 45px;
	height: 44px;
}

.ui-tab-content {
	margin-top:5px;
	display:-webkit-box
}
.baoliao_content   {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	margin-top: 15px;
}
.baoliao_content .bl_img {
	float: left;
	margin: 5px;
	width: 15%;
}
.baoliao_content .bl_img img {
	width: 90px;
}
.baoliao_content .bl_right {
	float: left;
	margin-left: 10px;
	width: 78%;
}

.baoliao_content .bl_title {
	float: left;
	font-size: 12px;
	color: #666666;
	line-height: normal;
	width: 100%;
}
.baoliao_content .bl_note {
	float: left;
	font-size: 12px;
	line-height: normal;
	color: #FF3300;
	margin-top: 5px;
	width: 100%;
}
.baoliao_content .bl_tag {
	float: left;
	font-size: 12px;
	width: 100%;
	line-height: 30px;
	margin-top: 10px;
}
.baoliao_content .bl_right .bl_tag .bl_price {
	float: left;
	font-size: 12px;
	color: #FF3300;
}
.baoliao_content .bl_right .bl_tag .bl_oprice {
	font-size: 12px;
	text-decoration: line-through;
	float: left;
	margin-left: 10px;
	color: #999999;
}
.baoliao_content .bl_right .bl_tag .bl_mall {
	float: right;
	font-size: 12px;
	color: #666666;
}
.baoliao_content .bl_right .bl_tag .bl_time {
	float: right;
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
.bl_more  {
	line-height: 40px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	float: left;
	width: 100%;
}
.bl_more  a  {
	line-height: 40px;
	height: 40px;
	width: 100%;
	color: #666666;
	text-decoration: none;
	float: left;
	font-size: 12px;
}
.shaixuan_box {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color:rgba(255,255,255,0.95);
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
	margin-right: -100%;
	overflow: auto;
	min-height: 100%;
}
.shaixuan_mall {
	padding: 10px;
}
.shaixuan_mall h1 {
	font-size: 16px;
	font-weight: normal;
	color: #00bb9c;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	line-height: 40px;
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
}
.shaixun_item {
	float: left;
	width: 100%;
	padding-top: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
}
.shaixun_item  a {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	margin-bottom: 5%;
	width: 25%;
}
.shaixun_item     a:active,.shaixun_item  a:hover {
	color: #ff8200;
	font-weight: bold;
	font-size: 14px;
}
.shaixun_item  a.current {
	color: #ff8200;
	font-weight: bold;
	font-size: 14px;
}
.shaixuan_mall p {
	line-height: 40px;
	width: 100%;
	text-align: center;
}
.shaixuan_colos {
	color: #666666;
	text-decoration: none;
	display: block;
	float: left;
	background-color: #F6F6F6;
	width: 100%;
	text-align: center;
	font-size: 14px;
}


.bl_view_img {
	text-align: center;
	padding: 10px;
}
.bl_view_img img {
	max-height: 150px;
}
.bl_view_title {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.bl_type {
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	border-radius: 5px;
	background-color: #ff3030;
	margin-right: 2px;
}

.bl_view_note {
	font-size: 14px;
	color: #FF6600;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	line-height: 22px;
}
.bl_view_tag {
	font-size: 12px;
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	height: 40px;
	padding-right: 1%;
	padding-left: 1%;
}
.bl_view_price {
	font-size: 16px;
	color: #FF3300;
	float: left;
	margin-left: 1%;
}
.bl_view_oprice {
	font-size: 12px;
	color: #666666;
	text-decoration: line-through;
	text-align: right;
	float: left;
	margin-left: 5%;
}
.bl_view_user {
	font-size: 12px;
	color: #666666;
	text-align: left;
	float: left;
	margin-left: 1%;
}

.bl_view_mall {
	font-size: 12px;
	text-align: center;
	float: right;
	color: #666666;
	margin-right: 1%;
}
.bl_view_time {
	font-size: 12px;
	color: #666666;
	text-align: right;
	float: right;
	margin-right: 1%;
}
.go_buy {
	line-height: 40px;
	height: 40px;
	text-align: center;
}
.go_buy a {
	color: #FFFFFF;
	background-color: #ff8200;
	text-align: center;
	line-height: 40px;
	float: left;
	width: 100%;
	text-decoration: none;
	font-size: 16px;
	
}
.bl_view_content h1 {
	font-size: 16px;
	font-weight: normal;
	color: #FF6600;
	line-height: 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F3F3F3;
	text-indent: 10px;
	margin: 0px;
	padding: 0px;
}
.bl_view_content h1 span {
	float: right;
	font-size: 12px;
	color: #999999;
	margin-right: 5px;
}

.bl_view_word {
	padding: 10px;
	font-size: 14px;
	color: #666666;
	line-height: 22px;
	overflow: hidden;
}
.bl_view_word p {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.bl_view_word a {
	color: #00bb9c;
	text-decoration: none;
}


.pinlun_input {
	float: left;
	width: 75%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 14px;
	color: #333333;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	padding-left: 42px;
	outline: none;
	padding-right: 10px;
	background-image: url(../images/iconfont-pinglun.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px center;
	padding-top: 15px;
	padding-bottom: 10px;
}
.pinlun_submit {
	line-height: 40px;
	color: #FFFFFF;
	height: 40px;
	width: 25%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	outline: none;
	background-color: #7fc242;
}
.no_login {
	line-height: 45px;
	text-align: center;
	color: #333333;
}
.no_login a {
	margin-left: 15px;
}

.bl_comment h1 {
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	margin: 0px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
}
.comment_list {
	padding: 10px;
	font-size: 12px;
	color: #666666;
}
.comment_list li {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.comment_list  .pl_user_img {
	float: left;
	height: 30px;
	width: 30px;
	overflow: hidden;
	border-radius: 50%;
}
.comment_list  .pl_user_img  img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.comment_list .pl_user_top {
	float: left;
	width: 50%;
	line-height: 30px;
	max-width: 98%;
}

.comment_list  .pl_user_name {
	float: left;
	margin-left: 10px;
	color: #0099CC;
	font-size: 12px;
}
.comment_list .pl_user_time {
	float: left;
	margin-left: 10px;
	color: #999999;
	font-size: 12px;
}
.comment_list .pl_user_comment {
	width: 97%;
	margin-top: 5px;
	padding-left: 2.2%;
	float: left;
	text-align: justify;
	line-height: 22px;
	font-size: 12px;
}
/*会员中心*/


.user_top {
	height: 140px;
	background-image: url(../images/user_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	text-align: center;
}
.user_logo {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


.user_logo .img {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.user_logo .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.user_logo img {
    width: 100%;
    height: 100%;
}

.user_logo .img img {
    border-radius: 50%;
}.user_info {
}
.user_info .user_name {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 35px;
}
.user_info .user_dengji {
	font-size: 12px;
	color: #F3F3F3;
	line-height: 25px;
}
.user_nav_list {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EBEBEB;
	border-left-color: #EBEBEB;
}
.user_nav_list  li {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	height: 50px;
}
.user_nav_list a {
	display: block;
	color: #666666;
	text-decoration: none;
	width: 100%;
	float: left;
}
.user_nav_list .u_nav_icon {
	float: left;
	margin-left: 2%;
	height: 30px;
	width: 30px;
	background-size: 90%;
	margin-top: 10px;
}
.user_nav_list .znx {
	background-image: url(../images/iconfont-zhanneixin.png);
	background-repeat: no-repeat;
}
.user_nav_list .money {
	background-image: url(../images/iconfont-jiaofei.png);
	background-repeat: no-repeat;
}
.user_nav_list .sj {
	background-image: url(../images/178hui-shouji.png);
	background-repeat: no-repeat;
}
.user_nav_list .dingdan {
	background-image: url(../images/iconfont-dingdan%20.png);
	background-repeat: no-repeat;
}
.user_nav_list .tixian {
	background-image: url(../images/iconfont-wiappquxianguanli.png);
	background-repeat: no-repeat;
}
.user_nav_list   .qiandao {
	background-image: url(../images/iconfont-qiandaotubiao.png);
	background-repeat: no-repeat;
}
.user_nav_list .anquan {
	background-image: url(../images/iconfont-zhanghuanquan.png);
	background-repeat: no-repeat;
}
.user_nav_list .loginpassword {
	background-image: url(../images/iconfont-denglumima.png);
	background-repeat: no-repeat;
}
.user_nav_list .paypassword {
	background-image: url(../images/iconfont-shezhijiaoyimima.png);
	background-repeat: no-repeat;
}
.user_nav_list .findpaypwd {
	background-image: url(../images/iconfont-zhaohuimima.png);
	background-repeat: no-repeat;
}
.user_nav_list .bangdingshouji {
	background-image: url(../images/iconfont-shoujibangding.png);
	background-repeat: no-repeat;
}
.user_nav_list .zhifubao {
	background-image: url(../images/iconfont-zhifubao.png);
	background-repeat: no-repeat;
}
.user_nav_list .yinhangka {
	background-image: url(../images/iconfont-yinxingqia.png);
	background-repeat: no-repeat;
}





.user_nav_list .u_nav_name {
	float: left;
	margin-left: 1.5%;
	line-height: 50px;
	font-size: 15px;
}
.user_nav_list .u_money {
	position: relative;
	font-size: 13px;
	color: #666666;
	line-height: 51px;
	float: right;
}
.user_nav_list .u_money i {
	color: #ff6063;
	font-style: normal;
}

.user_nav_list .nt_icon {
	background-image: url(../images/iconfont-jiantou.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
	height: 50px;
	width: 32px;
	float: right;
	margin-right: 1%;
}
.login_out {
	text-align: center;
}
.login_out  a span {
	height: 20px;
	width: 20px;
	position: relative;
	top: 4px;
	right: 5px;
}
.login_out  a  span img {
	height: 18px;
	width: 18px;
}

.login_out a {
	line-height: 45px;
	text-decoration: none;
	text-align: center;
	float: left;
	color: #FFFFFF;
	background-color: #8c6a5e;
	width: 100%;
}
.login_out  a  i {
	font-size: 15px;
	font-style: normal;
}
.my_money {
	line-height: 50px;
}
.my_money span {
	font-size: 14px;
	color: #333333;
	margin-left: 10px;
}
.my_money  i {
	font-style: normal;
	font-weight: bold;
	color: #ff6063;
}
.my_money .tixian_btn {
	float: right;
	margin-right: 10px;
}
.my_money   .tixian_btn    a  {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #ff6063;
	float: right;
	line-height: 35px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 8px;
	border-radius: 3px;
}
.my_title {
	line-height: 45px;
	font-size: 16px;
	color: #00bb9c;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
}
.my_title_right {
	float: right;
	margin-right: 10px;
	color: #333333;
	font-size: 14px;
}
.my_title_right i {
	font-style: normal;
	color: #ff6063;
	font-weight: bold;
	font-size: 15px;
}

.footer a {
	float: left;
	width: 33%;
	height: 80px;
	text-align: center;
	text-decoration: none;
}
.footer .ico_img {
	margin-top: 15px;
}
.footer .ico_img img {
	width: 30px;
}

.footer a span {
	font-size: 12px;
	color: #666666;
	line-height: 30px;
}
.copyright {
	line-height: 40px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	float: left;
	width: 100%;
}
.copyright a {
	text-decoration: none;
	color: #999999;
}
.gotop {
	background-image: url(../images/iconfont-fanhuidingbu.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 9999;
	cursor: pointer;
}
.no_login_show {
	background-color: #FFFFFF;
	text-align: center;
	float: left;
	width: 360px;
	overflow: hidden;
}
.no_login_show h1 {
	font-size: 16px;
	color: #666666;
	margin: 0px;
	line-height: 50px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E7E7E7;
	background-color: #F9F9F9;
}
.no_login_show a {
	width: 100%;
	line-height: 50px;
	text-decoration: none;
	color: #ff6063;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EEEEEE;
}

.my_info {
	padding-right: 10px;
	padding-left: 10px;
}
.my_info li {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EBEBEB;
	line-height: 50px;
	width: 100%;
}
.my_info   div {
	width: 33%;
	float: left;
	font-size: 14px;
	color: #333333;
}
.my_info .my_form {
	width: 20%;
}

.my_info .my_time {
	text-align: center;
	width: 43%;
}
.my_info .my_moneys {
	text-align: right;
	color: #ff6063;
	font-weight: bold;
	float: right;
}
.tx_info {
}

.tx_info  li {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
	line-height: 35px;
	width: 97%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1.5%;
	padding-left: 1.5%;
}
.tx_info  li:nth-child(2n){
	background-color: #FDFDFD;
}
.tx_info .tx_jilu {
	width: 50%;
	float: left;
}
.tx_info .tx_jilu p {
	font-size: 14px;
	color: #333333;
	margin: 0px;
}
.tx_info      .right     p  {
	text-align: right;
}
.tx_info .tx_jilu p b {
	color: #ff6063;
}
.add_tixian li {
	margin-top: 15px;
	margin-bottom: 15px;
}

.add_tixian #money {
	font-weight: bold;
	color: #ff6063;
}

.add_tixian .ui-border-t {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 15px;
}
.add_tixian #yzm {
	width: 67%;
}
.add_tixian  .request_yzm  {
	height: 40px;
	width: 28%;
	margin-top: 1.5%;
	font-size: 12px;
}
.add_tixian  .sqtx  {
	margin-right: 1.5%;
	margin-left: 1.5%;
	width: 97%;
}
.my_order {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
	font-size: 14px;
	color: #333333;
}
.order_top {
	line-height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f5f5f5;
	float: left;
	width: 100%;
}
.order_mall {
	float: left;
	margin-left: 10px;
}
.order_time {
	float: right;
	margin-right: 10px;
}
.order_content {
	float: left;
	width: 100%;
}
.order_content .order {
	line-height: 30px;
	float: left;
	padding-left: 10px;
	color: #666666;
}
.order_content .order_money, .order_content .order_status {
	float: right;
	margin-right: 10px;
	text-align: right;
}
.qiandao_content {
	text-align: center;
	padding-top: 20px;
	display: block;
}
.qiandao_ok {
	display: none;
}
.qiandao_content  a {
	text-decoration: none;
	display: block;
}
.qiandao_icon img {
	width: 100px;
}
.qiandao_content  span {
	line-height: 50px;
}
.qiandaojilu {
	font-size: 14px;
	color: #333333;
}
.qiandao_top {
	width: 100%;
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
	float: left;
}
.qiandao_top  em {
	float: left;
	font-style: normal;
	margin-left: 10px;
}
.qiandao_num {
	float: right;
	margin-right: 10px;
}
.qiandaojilu ul {
	float: left;
	width: 100%;
}
.qiandaojilu li {
	line-height: 40px;
	margin-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #F0F0F0;
	font-size: 13px;
	color: #666666;
}
.qiandaojilu li span {
	margin-right: 3px;
	margin-left: 3px;
}

.qiandaojilu li .qiandao_time {
	float: right;
	margin-right: 10px;
	color: #666666;
	font-size: 13px;
}
.msg {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
}

.msg_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	line-height: 40px;
	float: left;
	width: 100%;
}
.msg_title h1 {
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.msg_title span {
	float: right;
	font-size: 14px;
	color: #666666;
	margin-right: 10px;
}
.msg_content {
	float: left;
	width: 96%;
	padding: 10px;
	font-size: 14px;
	color: #666666;
	line-height: 24px;
}
.bank {
	background-image: url(../images/iconfont-i.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 25px;
}

/*提现*/
.byw_tx{
	width:100%;
	background:#ff8200;
	height: 180px;
	
}
.byw_tx #byw_d{
	width:94%;
	height: 180px;
	
	margin: 0 auto;
	
}
.byw_tx #byw_d #byw_ye{
	color: white;
	opacity: 0.9;
	line-height:80px;
	font-size: 14px;
}
.byw_tx #byw_d #byw_e{
	color: white;
	font-size: 60px;
}
.foot{
	position: fixed;
	bottom: 0px;
width:100%;
margin: 0 auto;
}

.foot .y{
	color: cornflowerblue;
}
.foot #copyright1{
	font-size: 13px !important;
	
	margin: 0 auto !important;
	
}
.foot .copyright1 {
	line-height: 40px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	float: left;
	width: 100%;
}
.foot .fa a {
	text-decoration: none;
	color: cornflowerblue !important;
}
.foot .fa {
	font-size: 13px;
	color: cornflowerblue !important;
	text-align: center;
	float: left;
	width: 100%;
}
.foot .copyright1 a {
	text-decoration: none;
	color: #999999;
}
/*充值*/
 #recharge{
	width: 100%;
	height: 60px;
	background-color: white;
	position: relative;
	top:5px;

}
#recharge .imgrecharge{
	width:50px;
	height: 50px;
	
	float: left;
}
#recharge .imgrecharge img{
	margin-top: 10px;
	width: 50px;
}
#recharge .namerecharge{
	width: 50%;
	height: 60px;
	float: left;
	
}
#yhname{
	color: #888888;
position: relative;
top:12px;
	font-size: 14px;
}
#zhnumber{
	
	color: #888888;
position: relative;
top:2px;
	font-size: 14px;
}
#recharge .numberrecharge{
	background-image: url(../images/iconfont-jiantou.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
	height: 60px;
	width: 32px;
	float: right;
	margin-right: 1%;
}
#czmoney{
	width: 100%;
	height: 50px;
}
#czmoney .czm{
	width: 100%;
	height: 50px;
	background-color: white;
	
}
#czmoney .tip{
	width: 95%;
	height: 20px;
	
	margin: 0 auto;
}
#czmoney .czm .czcenter{
	height: 30px;
	width: 95%;
	line-height:50px;
	
	margin: 0 auto;
}
#czmoney .czm .czcenter label{
	font-size: 13px;
	
}
#czmoney .czm .czcenter .czinput{
	height: 30px;
	width: 200px;
	margin-left: 10px;
	border: 0px;
	outline: none;
}
#geym{
	height: 40px;
	width: 95%;
	color: white;
	border: 0px;
	margin: 0 auto;
	background-color: #FF8200;}
